$mediaPCNormal: 1200px;
$mediaPCMin: 1024px;
$mediaPad: 768px;
$mediaMobile: 480px;
$macProWidth: 1280px;
$macProHeight: 800px;
$laptopWidth: 1366px;
$laptopHeight: 768px;
$FHDWidth: 1920px;
$FHDHieght: 1080px;
$iPhone6Width: 375px;
$iPhone6Height: 667px;

$innerWidth: 1200px;
$minInnerWidth: 960px;
$padOuterWidth: 720px;
$padInnerWidth: 680px;
$mobileOuterWidth: 100%;
$mobileInnerWidth: 94%;

$distance: 20px;

$space: 20px;

$navHeight: 64px;

// $highColor: #f66;
$highColor: #28a0dc;

$fontFamily: "微软雅黑", "Microsoft Yahei", 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
