.header {
    position: relative;
    height: 85px;
    color: #333;
    background: #fff;
    border-bottom: 1px solid #ccc;
    h1.logo {
        float: left;
        line-height: 84px;
        font-size: 24px;
        font-weight: 300;
        color: #000;
    }
    .userinfo {
        float: right;
        margin: (84px+(-32px))*.5 0;
        height: 32px;
        line-height: 32px;
        color: #666;
        .avatar {
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            vertical-align: middle;
        }
        .logout {
            color: #888;
        }
    }
    @media screen and (max-width: $mediaMobile) {
        h1.logo {
            float: none;
            text-align: center;
        }
        .userinfo {
            display: none;
        }
    }
}
